startSettings/*
quazip-0.7.3/quazip.pro.user.*

cryptopp/.vs/
cryptopp/Win32/
cryptopp/adhoc.cpp.copied
cryptopp/cryptdll.vcxproj.user
cryptopp/cryptest.VC.db
cryptopp/ipch/
cryptopp/x64/
WalletMetahash.pro.user
WalletMetahash.pro.user.*
MetaGate.pro.user
MetaGate.pro.user.*
