[Desktop Entry]
Version=1.0
Name=MetaGate
Comment=MetaGate
Exec=sssssss %u
Type=Application
Icon=metagate
Terminal=false
MimeType=x-scheme-handler/metapay;
Categories=Network;Qt;
