<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>MetaGate</Name>
    <Title>MetaGate</Title>
    <Publisher>MetaHash</Publisher>
	<WizardDefaultHeight>560</WizardDefaultHeight>
    <WizardDefaultWidth>860</WizardDefaultWidth>
    <MaintenanceToolName>MGInstaller</MaintenanceToolName>
    <StartMenuDir>MetaGate</StartMenuDir>
    <AllowNonAsciiCharacters>true</AllowNonAsciiCharacters>
    <AllowSpaceInPath>true</AllowSpaceInPath>
    <TargetDir>@HomeDir@/MetaGate</TargetDir>
    <RemoteRepositories>
    </RemoteRepositories>
	<RunProgram>@TargetDir@/MetaGate</RunProgram>
	<ControlScript>controller.qs</ControlScript>
</Installer>
