<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>MetaGate</Name>
    <Version>1.15.1</Version>
    <Title>MetaGate</Title>
    <Publisher>MetaGate</Publisher>
    <StartMenuDir>MetaGate</StartMenuDir>
    <AllowNonAsciiCharacters>true</AllowNonAsciiCharacters>
    <AllowSpaceInPath>true</AllowSpaceInPath>
    <TargetDir>@HomeDir@/MetaGate</TargetDir>
    <RemoteRepositories>
        <Repository>
            <Url>http://localhost/repository</Url>
        </Repository>
    </RemoteRepositories>
	<RunProgram>>@TargetDir@\MetaGate.exe</RunProgram>
</Installer>