<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<dict>
		<key>identifier</key>
		<string>Layout.39AC66DB-0718-4438-B6FC-DA0044EEA174</string>
		<key>options</key>
		<dict>
			<key>backgroundImageName</key>
			<string>bg3.png</string>
			<key>fontSize</key>
			<integer>12</integer>
			<key>iconSize</key>
			<integer>128</integer>
			<key>layoutItems</key>
			<array>
				<dict>
					<key>identifier</key>
					<string>LayoutItem.5AD81D6E-F4F7-4DF8-AAF0-31DD698A59CC</string>
					<key>name</key>
					<string>${APP_BASENAME}.app</string>
					<key>position</key>
					<string>{160, 247}</string>
					<key>type</key>
					<string>application</string>
				</dict>
				<dict>
					<key>identifier</key>
					<string>LayoutItem.E16875BA-7C7B-44DF-AF6A-B316910A7EB0</string>
					<key>name</key>
					<string>Applications</string>
					<key>position</key>
					<string>{477, 250}</string>
					<key>type</key>
					<string>applications</string>
				</dict>
			</array>
			<key>windowInsets</key>
			<string>{0, 0}</string>
			<key>windowOriginTopLeft</key>
			<string>{100, 100}</string>
		</dict>
	</dict>
	<key>documentCreator</key>
	<string>DropDMG 3.5.3</string>
	<key>documentType</key>
	<string>com.c-command.DropDMG.Layout</string>
	<key>formatVersion</key>
	<integer>1</integer>
</dict>
</plist>
